
.coursesHero {
  margin-bottom: 30px;
  margin-top: 50px;
}

/* محتوى القسم */
.courses-image-content {
  display: flex;
  justify-content: center;
}

/* النصوص */
.courses-hero-content {
  margin-top: 50px;
  margin-right: 100px;
}

/* العنوان ( الدورات ) */
.courses-hero-content .courses-hero-title {
  margin-bottom: 0 !important;
  font-weight: 600;
  background: linear-gradient(90deg, #ac01ff, #1dcffc);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 40px;
}

/* الدسكربشن تحت العنوان */
.courses-hero-content .courses-hero-description {
  max-width: 500px;
  line-height: 1.8;
  font-size: 20px;
}

/* الزر */
.courses-hero-content .courses-hero-btn {
  padding: 10px;
  border-radius: 10px;
  border: none;
  min-width: 20%;
  color: white;
  font-weight: bold;
  font-family: var(--font-primary);
  background: linear-gradient(
    45deg,
    var(--color-primary-purple) 30%,
    var(--color-primary-blue)
  );

  transition: 0.5s;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

/* عند تمرير الماوس على الزر */
.courses-hero-content .courses-hero-btn:hover {
  background: linear-gradient(
    45deg,
    var(--color-primary-blue) 35%,
    var(--color-primary-purple)
  );
}

/* الصورة */
.courses-hero-image {
  width: 100%;
  max-width: 35%;
  height: auto;
  margin: 0 auto;
}

.courses-hero-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* الخط */
.courses-hero-line {
  width: 100%;
  height: 1.5px;
  background: rgba(255, 255, 255, 0.18);
  margin: 35px auto 10px;
}

/* المحتوى يلي تحت الخط */
.courses-hero-subtext {
  font-size: 17px;
  color: #e6e6e6;
  opacity: 0.9;
}

.courses-image-content {
  flex-direction: column;
  text-align: center !important;
}

.courses-hero-content {
  width: 100%;
  text-align: center !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0 !important;
}

.courses-hero-content .courses-hero-btn {
  margin-top: 20px;
}

.courses-hero-line {
  width: 80%;
}

.courses-hero-image {
  margin: 0 auto;
  max-width: 100%;
  
}

/* ريسبونسف */

/*موبايل*/

@media (min-width: 576px) {
  .courses-hero-image {
    max-width: 70%;
  }
}

/* (تابلت) */
@media (min-width: 768px) {
  .courses-hero-image {
    max-width: 50%;
  }
}

/*لابتوب*/
@media (min-width: 992px) {
  .courses-image-content {
    flex-direction: row;
    text-align: initial !important;
  }

  .courses-hero-content {
    width: auto;
    display: block;
    text-align: initial !important;
    align-items: initial;
    margin-right: 100px !important;
  }

  .courses-hero-line {
    width: 100%;
  }

  .courses-hero-image {
    max-width: 35%;
  }
}

/* شاشة كبيرة */
@media (min-width: 1200px) {
  .courses-hero-content .courses-hero-title {
    font-size: 42px;
  }

  .courses-hero-content .courses-hero-description {
    font-size: 20px;
  }
}
