.footer_tob {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 70px;
  padding: 0px 0px 0px 0px;
}
.footer_bottom {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: rgba(145, 145, 145, 0.315);
  
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 30px 0px 0px 0px;
}
footer {
  padding: 50px 0px 30px 0px;
}
.footer_logo,
.social_media {
  width: 25%;
}
.footer_links {
  width: 50%;
}
.footer_links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
footer .Flinks {
  color: var(--color-text-light);
  transition: all 0.7s;
  font-weight: 500;
}
footer .Flinks:hover {
  color: var(--color-text-muted);
}

.footer_logo .img {
  width: 75%;
}

.social_media {
  display: flex;
  gap: 20px;
  font-size: 15px;
  justify-content: flex-end;
}
.privacy ul {
  display: flex;
  gap: 20px;
  padding: 0;
}
@media (max-width: 1000px) {
  .social_media,
  .footer_links {
    width: 50%;
  }
  .footer_logo {
    width: 100%;
  }
  .footer_tob {
    display: flex;
    flex-wrap: wrap;
  }
  .footer_logo .img {
    width: 30%;
  }
  .footer_links ul {
    justify-content: center;
    padding: 0;
  }
  .footer_tob {
    margin-bottom: 50px;
  }
}
@media (max-width: 800px) {
  .footer_bottom {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .social_media {
    width: 100%;
    justify-content: center;
  }
  .footer_links {
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .footer_logo {
    width: 100%;
    text-align: center;
  }
    .footer_logo .img {
    width: 60%;
  }
}
